{% extends 'base.html' %}
{% load static %}



{% block context %} 
<form action="{% url 'searchlist' %}" method="get">
    {% csrf_token %}
    {{ search }}
    <input type="submit" value="Поиск">
</form>
<hr>

 <p>Счета : {{ user }}</p>
<hr>
<form action="{% url 'translationlistuser' %}" method="get">
    {% csrf_token %}
    {{ formsFilter }}
    <input type="submit" value="Поиск">
</form>
<hr>
<ul>
{% for translation in translations %}

    <li> Операция :{{ translation.operation }} ||
         Кому: {{ translation.accountRecipient.user }} ||
         Сумма: {{ translation.sum }} ||
         Когда: {{ translation.dateCreate }} ||</li>

{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if translations.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ translations.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ translations.number }} of {{ translations.paginator.num_pages }}.
        </span>

        {% if translations.has_next %}
            <a href="?page={{ translations.next_page_number }}">next</a>
            <a href="?page={{ translations.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock context %}